In [7]:
###finding leap year in given range
def leap_year(s,n):
    
    for i in range(s,n+1):
        if(i%4==0 and i%100!=0) or (i%400==0):
            print(i)
            
leap_year(2000,2021)

2000
2004
2008
2012
2016
2020

In [14]:
print(leap_year(1800,2021))

1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
None

In [56]:
###getting amstrong number in between range
#Armstrong number is a number that is equal to the sum of cubes of its digits
##153 = (1*1*1)+ (5*5*5)+ (3*3*3)
def amstrong(s,n):
    for i in range(s,n+1):
        sum=0
        order=len(str(i))
        temp=i
        while temp>0:
            digit=temp%10
            sum=sum+digit**order
            temp//=10
        if sum==i:
            print(i)
            
        
amstrong(100,2000)

153
370
371
407
1634

In [129]:
###getting prime numbers between range
def prime(s,n):
    l=[]
    for i in range(s,n+1):
        count=0
        for j in range(2,i+1):
            if i%j==0 and i!=j:
                count=count+1
                break
        
    if count==0:
            l.append(i)

print("numbers are:",l)

prime(1,100)

numbers are: [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [128]:
l=[]
for i in range(1,101):
    count=0
    for j in range(2,i+1):
        if(i%j==0 and i!=j):
            count=count+1
            break
    if(count==0):
        l.append(i)
print(l)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [160]:
##finding count of elements in string
def string():
    s='srm university'
    s.count('s',0,14)
    
string()

In [152]:
 s='srm university'
s.count('s')

2