In [4]:
###converting list of strings into a single string
l=["i","am","a","good","girl"]
l2=l[0]+' '+l[1]+' '+l[2]+' '+l[3]+' '+l[4]
l2

'i am a good girl'

In [167]:
###converting list of characters into a single string
l=['s','a','h','i','t','h','i']

l2=''.join(l)
l2

'sahithi'

In [12]:
l=['s','a','h','i','t','h','i']
l[0]+l[1]+l[2]+l[3]+l[4]+l[5]+l[6]

'sahithi'

In [23]:
##to seperate even and odd elements in list
l=[1,2,3,4,5,6,78,9]
l2=[]
l3=[]
for i in l:
    if i%2==0:
        l2.append(i)
    else:
        l3.append(i)
print("even digits are:",l2)
print("odd digits are:",l3)

even digits are: [2, 4, 6, 78]
odd digits are: [1, 3, 5, 9]

In [44]:
###to removes duplicates from the list
l=[7,9,9,7,0,5,4,4,4,6]
final=[]
for i in l:
    if i not in final:
           final.append(i)
print(final)

[7, 9, 0, 5, 4, 6]

In [48]:
l=['a','b','a','b','c','d','e','e','r','h','h','i']
temp=[]
for i in l:
    if i not in temp:
        temp.append(i)
print(temp)

['a', 'b', 'c', 'd', 'e', 'r', 'h', 'i']

In [168]:
##empty or not
l=input("enter your list")

if(len(l)!=0):
    print("it is not empty list")
else:
        print("it is empty list")

enter your list789
it is not empty list

In [71]:
###remove 0,4,5th elements
l=[1,2,3,4,5,6,7,8]
del l[0]
del l[4]
del l[5]
l

[2, 3, 4, 5, 7]

In [139]:
###take two list and return true if they even have one common element
a=[1,2,3,4,5]
b=[9,8,6,6,0,8,5,1,7,8]
result=False

for x in a:
    for y in b:
        if x==y:
            result=True
                 
            
print(result)

True

In [148]:
name=['akash','aksa','manish','paru','sarayu']
print([name for name in name if 'u' in name])

['paru', 'sarayu']

In [149]:
print([name for name in name if 'h' in name])

['akash', 'manish']

In [151]:
print([name for name in name if name.startswith('a')])

['akash', 'aksa']

In [152]:
[name for name in name if name.endswith('u')]

['paru', 'sarayu']

In [156]:
students=['sri','sai','sara','pari','parveen','pani']
print([students for students in students if students.startswith('s')])
print("these students belongs to section b")

['sri', 'sai', 'sara']
these students belongs to section b

In [159]:
###to remove the duplicates and print tuple except last value

t=('a','b','a','b','c')
temp=[]
for i in t:
    if i not in temp:
        temp.append(i)
tuple(temp[:-1])

('a', 'b')

In [163]:
###write a program to replace element by given element
l=('hi','hello','sorry','bye')
l2=list(l)
l2[2]="good"
l2
tuple(l2)
##as tuple is immutable,it ios first converted into list and modified in list

('hi', 'hello', 'good', 'bye')

In [165]:
c=('i','am','sorry','i','cant','help')
d=list(c)
d[2]="happy"
d[4]='can'
tuple(d)

('i', 'am', 'happy', 'i', 'can', 'help')